body {
  color: #ffff33;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
}

a { text-decoration: none; color: #ffffff; }
a:hover { text-decoration: underline; }

#calc img {
  //border: 1px solid green;
  border-radius: 50%;
}

#instructions {
  width: 100%;
  max-width: 500px;
  margin:auto;
}

img[usemap] {
  border: none;
  height: auto;
  max-width: 100%;
  width: auto;
}

.footer {
  text-transform: uppercase;
  font-weight: bolder;
  text-align: center;
  letter-spacing: 1.5px;
  padding-top: 5px;

  text-decoration: none;
  position:fixed;
  bottom:0px;
  left:30px;
  z-index:1;
}

.footer a:hover { text-decoration:underline }

#display {
  float: left;
  text-align: left;
  padding: 4px;
  border-radius: 0% 5% 5% 0%;
  margin: auto;
  width: 88px;
  height: 32px;
  line-height: 32px;
  vertical-align: center;
  top: -280px;
  font-family: 'courier';
  color: lime;
  background-color: green;

}

#ops {
  float: left;
  text-align: left;
  padding: 4px;
  border-radius: 5% 0% 0% 5%;
  margin: auto;
  width: 15%;
  height: 100%;
  line-height: 32px;
  vertical-align: center;
  //position: relative;
  top: -280px;
  font-family: 'courier';
  color: lime;
  background-color: green;

}

#display-container {
  // float: left;
  text-align: left;
  padding: 5px;
  border-radius: 5%;
  margin: auto;
  width: 124px;
  height: 40px;
  position: relative;
  top: -280px;
  left: -3px;
  font-family: 'courier';
  background-color: black;
}

/* MODAL CSS */
.modalBtn{
  color: white;
  background:none;
  border:none;
  margin:0;
  padding:0;
  cursor: pointer;
}
.modalBtn:hover,
.modalBtn:focus {
    text-decoration: underline;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);

}

.modal-content {
  text-align: left;
  background-color: rgb(0,0,0);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
